 h1, h2 {
        font-family: sans-serif;
      }
      h1 {
        background-color: hotpink;
        color: royalblue;
        width: 350px;
        padding: 5px;
      }
      h2 {
        background-color: royalblue;
        color: hotpink;
        width: 300px;
        padding: 5px;
      }
      p {
        background-color: aqua;
        font-family: serif;
        color: darkblue;
        width: 500px;
        padding: 15px;
      }
      a {
        color: red;
      }
